body {
	  background-color: #D8D8D8;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 14px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #9999FF;
}

.compList {
    height:5em;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid black;
}
.compList.highlight{
    background-color:#98B5C1;
}
.compList.members{
    border: 7px solid maroon;
}

.draggable{
    border: 1px solid #ccc;
    height:2em;
    line-height:2em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display:inline-block;
    border-radius:.5em;
    position: static;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    -khtml-border-radius:.5em;
    font-size:150%;
    color:#000;
    text-align:center;
    background:#fff;
    z-index:9001;
}

.draggable.condition{
}

.draggable.field{
}

.draggable.year{
}

.draggable.set{
}

.draggable.item{
}

.draggable.highlight{
    background-color:#98B5C1;
}

.draggable.value{
}

.draggable.hovered{
    color:#000;
    text-decoration:none;
    background:#bbb;
}

.draggable.mod{
    height:3em;
    line-height:3em;
    padding-left: 1em;    
    padding-right: 1em;
    font-size:45%;
    margin-left: 0.3em;
    margin-right: 0.3em; 
    border-radius:.8em;
    -moz-border-radius:.8em;
    -webkit-border-radius:.8em;
    -khtml-border-radius:.8em;
}
.draggable.mod.condition{
    background:#f99;}
.draggable.mod.condition.hovered{
    background:#d77;}

.draggable.mod.field{
    background:#9f9;}
.draggable.mod.field.hovered{
    background:#7d7;}

.draggable.mod.year{
    background:#99f;
}
.draggable.mod.year.hovered{
    background:#77d;
}

.draggable.mod.set{
    background:#f9f;
}
.draggable.mod.set:hover{
    background:#d7d;
}

.draggable:disabled{
    background:#aaa;}



.circle{
display:table-cell;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
-khtml-border-radius:20px;
padding-left: 15px;
padding-right: 15px;
font-size:15px;
color:#000;
vertical-align:middle;
text-align:center;
background:#fff}

.dragList{
}

.dragList:hover{
}

button.square{
height:25px;
width:50px;
}

div.ruleComp{
    float:left;
    border:1px solid black;
    padding: 0.5em;
    margin:5px;
}

div.ruleComp:hover{
background:#bbb;
}

#dropdowns {
  display: table;
  height: 42px;
  line-height: 42px;
  color: #000;
}
#dropdowns .dropdown {
  display: inline-block;
  position: relative;
  z-index: 4;
  border-right: 1px solid #606060;
  cursor: pointer;
}
#dropdowns .dropdown .text {
  font-family: 'ProximaNova-Bold';
  line-height: 42px;
  height: 42px;
  display: inline-block;
  padding-left: 15px;
}
#dropdowns .dropdown.focused {
  background-color: #4c4d4e;
}
#dropdowns .dropdown .drop_button {
  display: inline-block;
  cursor: pointer;
  display: block;
  display: inline-block;
  background-image: url('img/arrow-large-icons.png');
  width: 40px;
  height: 40px;
  background-position: 0px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#dropdowns .dropdown .drop_button:hover {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-large-icons.png');
  width: 40px;
  height: 40px;
  background-position: 0px -40px;
  content: '';
  display: block;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#dropdowns .dropdown .drop_button.visible {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-large-icons.png');
  width: 40px;
  height: 40px;
  background-position: 0px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#dropdowns .dropdown .drop_button.visible:hover {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-large-icons.png');
  width: 40px;
  height: 40px;
  background-position: 0px -40px;
  content: '';
  display: block;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#dropdowns .dropdown .drop_button.visible ~ .dropMenu {
  display: block;
}
#dropdowns .dropdown .drop_button.disabled {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-large-icons.png');
  width: 40px;
  height: 40px;
  background-position: 0px -80px;
  content: '';
  display: block;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
#dropdowns .dropdown .expand {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  display: block;
  display: inline-block;
  background-image: url('img/arrow-icons.png');
  width: 22px;
  height: 22px;
  background-position: -22px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
#dropdowns .dropdown .expand:hover {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-icons.png');
  width: 22px;
  height: 22px;
  background-position: -22px -22px;
  content: '';
  display: block;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
#dropdowns .dropdown .expand.visible {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-icons.png');
  width: 22px;
  height: 22px;
  background-position: 0px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
#dropdowns .dropdown .expand.visible:hover {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-icons.png');
  width: 22px;
  height: 22px;
  background-position: 0px -22px;
  content: '';
  display: block;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
#dropdowns .dropdown .expand.visible ~ .dropMenu {
  display: block;
}
#dropdowns .dropdown .expand.disabled {
  display: block;
  display: inline-block;
  background-image: url('img/arrow-icons.png');
  width: 22px;
  height: 22px;
  background-position: 0px -44px;
  content: '';
  display: block;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropLabel {
  display: inline-block;
}
#dropdowns .dropdown .dropItem {
  display: block;
  white-space: nowrap;
}
#dropdowns .dropdown .dropItem.disabled {
  color: #666666;
}
#dropdowns .dropdown .dropItem.this {
    display:none;
}
#dropdowns .dropdown .dropItem.disabled .checkbox {
  visibility: hidden;
}
#dropdowns .dropdown .dropItem .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 7px;
}
#dropdowns .dropdown .dropItem .checkbox.emptyCheck {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: 0px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropItem .checkbox.emptyCheck:hover {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: 0px -18px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropItem .checkbox.fullCheck {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: -36px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropItem .checkbox.fullCheck:hover {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: -36px -18px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropItem .checkbox.partialCheck {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: -18px 0px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
#dropdowns .dropdown .dropItem .checkbox.partialCheck:hover {
  display: block;
  display: inline-block;
  background-image: url('img/checkbox-icons.png');
  width: 18px;
  height: 18px;
  background-position: -18px -18px;
  content: '';
  display: block;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.topDropMenu {
    display: inline-block;
    list-style-type: none; 
    position: absolute;
    top: 42px;
    padding: 10px 35px 10px 10px;
    color: white;
    background-color: #383838;
    border-top: 1px solid #4c4d4e;
}
.rootDropMenu {
  position: absolute;
  top: 42px;
  padding: 10px 35px 10px 10px;
  height: 290px;
  overflow-y: auto;
  color: white;
  background-color: #383838;
  border-top: 1px solid #4c4d4e;
}
.dropMenu {
  line-height: 28px;
  list-style: none;
  display: none;
  text-align: left;
  font-family: 'ProximaNova-Bold';
}
.dropMenu .dropMenu {
  margin-left: 20px;
}
.dropMenu .dropMenu .dropMenu {
  font-family: 'ProximaNova';
  margin-left: 44px;
  font-size: 12px;
}

/* Scroll Bars */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.8);
  -webkit-box-shadow: inset 0 0 2px #888888;
}
::-webkit-scrollbar-thumb {
  background: rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: inset 0 0 2px #444444;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(230, 230, 230, 0.2);
}